    @font-face {
      font-family: 'Roboto Mono Regular';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Regular'), url('RobotoMono-Regular.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Italic'), url('RobotoMono-Italic.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Thin';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Thin'), url('RobotoMono-Thin.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Thin Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Thin Italic'), url('RobotoMono-ThinItalic.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Light';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Light'), url('RobotoMono-Light.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Light Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Light Italic'), url('RobotoMono-LightItalic.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Medium';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Medium'), url('RobotoMono-Medium.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Medium Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Medium Italic'), url('RobotoMono-MediumItalic.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Bold';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Bold'), url('RobotoMono-Bold.woff') format('woff');
    }


    @font-face {
      font-family: 'Roboto Mono Bold Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Roboto Mono Bold Italic'), url('RobotoMono-BoldItalic.woff') format('woff');
    }