@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url('/assets/fonts/RobotoMono/RobotoMono-Medium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Medium Italic'), local('RobotoMono-MediumItalic') ,url('/assets/fonts/RobotoMono/RobotoMono-MediumItalic.woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Thin'), local('RobotoMono-Thin'), url('/assets/fonts/RobotoMono/RobotoMono-Thin.woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Light'), local('RobotoMono-Light'),url('/assets/fonts/RobotoMono/RobotoMono-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Bold'), local('RobotoMono-Bold'), url('/assets/fonts/RobotoMono/RobotoMono-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url('/assets/fonts/RobotoMono/RobotoMono-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'), url('/assets/fonts/RobotoMono/RobotoMono-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Thin Italic'), local('RobotoMono-ThinItalic'),url('/assets/fonts/RobotoMono/RobotoMono-ThinItalic.woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),url('/assets/fonts/RobotoMono/RobotoMono-Italic.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Mono';
    src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'), url('/assets/fonts/RobotoMono/RobotoMono-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
