.console-container {
    width: 100%;
    height: 62vh;
}

.console-layout {
    margin-top: 16px;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    grid-auto-columns: 1fr;
    gap: 0.7em 1.3em;
    grid-auto-flow: row;
    grid-template-areas:
    "console settings"
    "input settings";
}

.console-layout .console {
    grid-area: console;
    width: 100%;
    height: 100%;
    background: var(--bg-dark-accent);
    border-radius: 10px;
    padding: 12px;
    overflow-y: auto;
}

.console-layout .console * {
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 11pt;
}

.console-layout .input {
    grid-area: input;
    display: flex;
    align-items: center;
    justify-content: center;
}

.console-layout .input button {
    height: 48px;
}

.console-layout .input input {
    flex-grow: 1;
    margin-right: 8px;
    height: 48px;
}

.console-layout .settings {
    grid-area: settings;
}

.console-layout .settings .layout-accent-box:not(:first-child) {
    margin-top: 8px;
}

.console-layout .settings .layout-accent-box .lds-spinner {
    width: 100px;
    height: 100px;
}

.console-layout .settings .layout-accent-box .lds-spinner * {
    width: 64px;
    height: 64px;
}

.console-layout .settings .layout-accent-box .lds-spinner * {
    border-color: var(--bg-dark-accent-light) transparent transparent transparent;
}

.console-layout .settings .layout-accent-box .desc-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6px;
}

.console-layout .settings .layout-accent-box .desc-text * {
    margin: 4px 0;
}