/* Сетка контейнера */
.fm-container {
    width: 100%;
    height: 62vh;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: max-content max-content 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "title actions"
      "breadcrumb breadcrumb"
      "table table";
}

.fm-container .title {
    justify-self: start;
    align-self: center;
    grid-area: title;
}

.fm-container .breadcrumb {
    justify-self: start;
    align-self: center;
    grid-area: breadcrumb;
}

.fm-container .actions {
    align-self: center;
    grid-area: actions;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fm-container .actions button {
    margin: 0 6px;
    border-radius: 12px;
}

.fm-container .table {
    grid-area: table;
}

.fm-container .table-container {
    overflow: auto;
    border-radius: 8px;
}

/* Стиль таблицы */
#fm-table {
    width: 100%;
    height: max-content;
}

#fm-table thead {
    background: var(--bg-dark-accent);
}

#fm-table thead * {
    text-transform: uppercase;
    color: var(--bg-dark-accent-lighter)
}

#fm-table .icon-bg {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-dark-accent-light);
    border-radius: 9999PX;
    margin-right: 4px;
}

#fm-table .icon-bg * {
    color: white;
    font-size: 24px;
}

#fm-table tr {
    cursor: pointer;
}

#fm-table tr:hover *,
#fm-table tr:focus * {
    background: var(--bg-dark-accent-light);
}

#fm-table tr td:nth-child(3),
#fm-table tr td:nth-child(4) {
    color: var(--bg-dark-accent-lighter);
}

/* Стиль breadcrumb */
#fm-breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0;
}

#fm-breadcrumb * {
    color: var(--bg-dark-accent-lighter);
    margin: 0 4px;
    font-size: 14pt;
}

#fm-breadcrumb a {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
}

#fm-breadcrumb a:hover {
    border-bottom: 1px solid white;
    color: white;
}

#fm-breadcrumb svg {
    width: 16px;
    height: 16px;
}

/* Стили file editor */
.fileEditor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 75vh;
    width: 65vw;
    z-index: 9;
    background: var(--bg-dark-accent);
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.fileEditor .header {
    height: 40px;
    width: 100%;
}

.fileEditor .header input {
    padding: 6px 16px;
    width: 100%;
    height: 100%;
    background: var(--bg-dark-accent-light);
    border-radius: 8px 8px 0 0;
}

.fileEditor .footer {
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-dark-accent-light);
    border-radius: 0 0 8px 8px;
}

.fileEditor pre {
    margin: 16px 8px;
}

.fileEditor pre,
.fileEditor code {
    flex-grow: 1;
    border: none;
    outline: none;
    appearance: none;
    overflow: auto;
}

.fileEditor pre * {
    font-family: "Roboto Mono", monospace, sans-serif !important;
    font-size: 12pt !important;
}

.fileEditor .footer button {
    margin: 16px 8px;
}