.speditor-container {
  width: 100%;
  height: 62vh;
}

.speditor-container .tableWrapper {
  overflow: auto;
  height: 65vh;
  margin: 12px 0;
}

.speditor-container .tableWrapper table {
  width: 100%;
  table-layout: fixed;
  max-height: 50vh;
}

.speditor-container .primary-btn {
  width: 100%;
}

#sp-table,
#sp-table tr,
#sp-table td {
  background: var(--bg-dark-accent);
}

#sp-table input {
  background: var(--bg-dark);
}