/* GLOBALS */
.sub-block * {
  color: white;
}

.sub-block .header {
  background: #3b3b3b;
}

.sub-block .contentt {
  background: var(--mdb-gray-900);
}

.sub-block .footer {
  background: #3b3b3b;
}

/* GLOBALS END */

/* Sidebar styling */
.menuContainer .sidenavLayout li:not(.active):hover {
  background: var(--mdb-gray-800) !important;
}

.menuContainer .sidenavLayout li:not(.active) {
  background: var(--mdb-gray-900);
}

.menuContainer .sidenavLayout li.active {
  background: var(--mdb-gray-700);
}

.menuContainer {
  background: var(--mdb-gray-900);
}

.menuContainer * {
  color: var(--mdb-white);
}

#langSelectButton {
  background: #424242;
}

/* Chip and kub block stylings */
.chip {
  color: var(--mdb-white);
  background: var(--mdb-gray-900);
}

.chip-nb {
  color: var(--mdb-white);
}

.chip.ip-chip:hover {
  background: var(--mdb-gray-700);
}

.kub-card * {
  color: white;
}

/* Home page styling */
#players-list li span {
  color: white;
}

/* SERVER INFO HEADER */
.server-info-header {
  background: var(--mdb-gray-900);
}

.server-info-header .chip {
  background: var(--mdb-gray-900);
}

/* Console page stylings */
.console-container .console * {
  color: var(--mdb-white);
}

.modal-console-props * {
  color: var(--mdb-white);
}

.modal-console-props {
  background: var(--mdb-gray-800);
}

#console-settings-button {
  background: var(--mdb-gray-900);
  box-shadow: none;
}

/* Mods page styling */
.pl-blocks .contentt .list-group-item:hover {
  background: var(--mdb-gray-800);
}

.pl-blocks .btn:not(.btn-danger) {
  background: var(--mdb-gray-900);
  box-shadow: none;
}

.pl-blocks * {
  color: white;
}

/* File manager styling */
#fm-table * {
  color: var(--mdb-white);
}

#fm-table th:hover,
#fm-table tr:hover {
  background: var(--mdb-gray-600);
}

#fm-table button {
  color: var(--mdb-white);
}

#fm-table button:hover * {
  color: var(--mdb-gray-300);
}

#feModal textarea {
  color: var(--mdb-white);
}

#bdf .card {
  background: var(--mdb-gray-800);
}

#bdf .card .card-text {
  color: white;
}

.multiply-select {
  background: #424242;
}

.fm_container .btn-secondary {
  color: black;
}

/* Server settings styling */
#speditor-pills input[type="text"] {
  color: var(--mdb-white);
}

.list-group-item * {
  color: var(--mdb-white);
}

.addtooltip:hover {
  color: var(--mdb-white);
}

/* Kubek settings styling */
#users-list .card {
  background: var(--mdb-gray-900);
}

.input-bg .material-symbols-outlined {
  color: var(--mdb-gray-400);
}

.input-bg .material-symbols-outlined:hover {
  color: white;
}

/* Backups page styling */
.backups-container .gray-addon,
.backups-container .gray-addon * {
  color: var(--mdb-gray-400);
}

/* Global styles */
.kbk-input {
  color: white;
  background: #353535;
}

.kbk-input::placeholder {
  color: var(--mdb-gray-500);
}

.slider {
  background: var(--mdb-gray-700);
}

/* Login window styling */
.login-window .window {
  background: var(--mdb-gray-800);
}

.login-window {
  background: var(--mdb-gray-900);
}

.login-window * {
  color: white;
}