/* Header background */
.background-image {
  width: 100%;
  height: 20%;
  background: no-repeat center center url("/assets/backgrounds/0.png");
  background-size: cover;
  opacity: 0.7;
}

.content.flex-fill {
  overflow: hidden;
}

#edit-button {
  cursor: pointer;
}

#edit-button:hover {
  filter: brightness(70%);
}

/* Server title with icon in header */
#server-name {
  font-weight: 700;
  font-size: 32pt;
  color: var(--mdb-white);
  margin-left: 16px;
}

.server-capt-div {
  height: max-content;
  width: max-content;
  margin-top: 32px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.server-info-flex {
  position: relative;
  margin-top: -32px;
  z-index: 2;
}

.server-info-flex .chip {
  margin-left: 24px;
}

/* Chip styling */
.chip {
  padding: 14px 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 25px;
}

#status-circle {
  width: 10px;
  height: 10px;
}

.chip span.bold-chip {
  font-weight: 700;
  font-size: 12pt;
  margin-left: 10px;
}

.chip.ip-chip {
  cursor: pointer;
  border: 0;
  appearance: none;
}

/* Kubek card on home page styling */
.kub-card {
  border-radius: 6px;
  padding: 14px;
  max-height: max-content;
}

.kub-card .caption {
  font-size: 17pt;
  font-weight: 600;
}

/* Players list ul styling */
#players-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 350px;
  overflow-y: auto;
}

#players-list li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#players-list li span {
  margin-left: 8px;
}

/* Progress bars of usage styling */
.usage-pbar {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1fr min-content;
  grid-auto-columns: 1fr;
  gap: 0.5em 1em;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "percent name count"
    "percent progress progress";
  width: 100%;
  height: max-content;
}

.usage-pbar .percent {
  justify-self: center;
  align-self: end;
  grid-area: percent;
  font-size: 18pt;
  font-weight: 300;
}

.usage-pbar .progress {
  grid-area: progress;
}

.usage-pbar .name {
  justify-self: start;
  align-self: end;
  grid-area: name;
  font-weight: 600;
}

.usage-pbar .count {
  justify-self: end;
  align-self: end;
  grid-area: count;
  font-weight: 600;
}

#res-usage-card .list-group-item {
  padding: 18px 16px !important;
}

/* Server control buttons */
.btn.server-control {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.server-control-flex {
  margin-right: 8px;
}

.server-control-flex .btn {
  margin: 0 8px !important;
}

.icon-changer {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 80px;
  border-radius: 8px;
  border: 2px dashed rgb(210, 210, 210);
  cursor: pointer;
}

/* Main console container */
.console-container {
  height: 100%;
  width: 90%;
}

.additional-block {
  height: 100%;
  width: 364px;
  margin-left: 16px;
}

.additional-block .contentt {
  padding: 6% !important;
}

.additional-block,
.additional-block .contentt {
  border-radius: 4px;
}

.additional-block .contentt img {
  padding: 4px;
}

/* Console properties modal */
.modal-console-props {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: max-content;
  height: max-content;
  padding: 12px;
  z-index: 2;
}

.modal-console-props .flex-fill {
  font-size: 14pt;
  font-weight: 600;
}

/* Console styling */
#command-input {
  background: transparent;
  width: 100%;
  appearance: none;
  border: 0 !important;
  outline: 0 !important;
  font-family: 'Roboto Mono Regular';
}

.console-icon {
  /*color: var(--mdb-gray-500) !important;*/
  color: var(--mdb-warning) !important;
  font-family: 'Roboto Mono Regular';
}

.sub-block {
  border-width: 0 !important;
  border-radius: 34px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px !important;
}

.sub-block .contentt {
  padding: 8px;
}

.sub-block #console-text,
.additional-block .header {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.sub-block .footer {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.small-console-text {
  font-size: 10pt;
}

.medium-console-text {
  font-size: 12pt;
}

.large-console-text {
  font-size: 14pt;
}

.mono-console-text {
  font-family: 'Roboto Mono Regular';
}

.mono-console-text span {
  font-family: 'Roboto Mono Regular';
}

.main-layout {
  padding: 2%;
  height: 78% !important;
}

.monofont {
  font-family: 'Roboto Mono Regular';
}

.additional-block .list-item *:not(.material-symbols-outlined),
.additional-block .list-item {
  font-family: monospace;
}