.console-container #command-input,
.console-container #command-input:hover,
.console-container #command-input:focus {
  appearance: none !important;
  background: transparent !important;
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}

.console-container .main-console-grid {
  display: grid;
  grid-template-columns: 1fr 0.41fr;
  grid-template-rows: 0.95fr;
  gap: 0px 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "main-console additional-blocks";
}

.console-container .main-console-grid .main-console {
  grid-area: main-console;
}

.console-container .main-console-grid .additional-blocks {
  grid-area: additional-blocks;
}

/* Micro blocks */
.micro-block {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 2px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-areas:
    "icon label"
    "icon percent"
    "icon progress";
}

.micro-block .icon {
  height: 48px;
  width: 48px;
  border-radius: 8px;
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.micro-block .label {
  grid-area: label;
  font-size: 12pt;
  font-weight: 400;
  align-self: end; 
}

.micro-block .percent {
  grid-area: percent;
  font-size: 14pt;
  font-weight: 700;
}

.micro-block .progress {
  grid-area: progress;
  height: 3px;
}

.micro-block.noprogress {
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "icon label"
    "icon percent";
}

.mono-console-text {
  font-family: 'Roboto Mono Regular';
}

.mono-console-text span {
  font-family: 'Roboto Mono Regular';
}