.fm_container {
  padding: 2%;
  height: 92vh;
}

.fm_container .btn.btn-primary {
  width: 48px;
  height: 48px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fm_container .btn.btn-primary * {
  color: white;
}

.fm_container .contentt {
  padding: 1%;
}

#fm-table td {
  vertical-align: middle;
}

#fm-table * {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#fm-table th,
#fm-table tr {
  height: 48px;
  max-height: 48px;
  min-height: 48px;
}

#fm-table tr td:nth-child(4),
#fm-table tr td:nth-child(5),
#fm-table tr td:nth-child(6) {
  width: 1%;
  padding: 0 12px;
  white-space: nowrap;
  color: var(--mdb-gray-500);
}

#fm-table thead th {
  vertical-align: middle;
}

#fm-table button {
  outline: none;
  border: none;
  appearance: none;
  background: transparent;
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 0;
  box-shadow: none;
  margin: 0;
}

#fm-table button,
#fm-table button:hover,
#fm-table button:focus {
  background: transparent;
}

#fm-table button * {
  font-size: 22px !important;
}

#fm-table button:not(:first-child) {
  margin-left: 6px;
}

.buttons-td img:not(:hover) {
  filter: saturate(0%);
}

#breadcrumb-fm .breadcrumb-item:not(:last-child) {
  color: var(--mdb-gray-500);
}

#breadcrumb-fm .breadcrumb-item:not(:first-child) {
  padding-left: 4px;
}

#breadcrumb-fm .breadcrumb-item::before {
  padding-right: 4px;
}

#feModal textarea,
#nfeModal textarea {
  line-height: 21px;
  font-family: monospace;
  overflow-y: hidden;
  padding: 0;
  border: 0;
  background: #282a3a;
  color: #FFF;
  min-width: 500px;
  outline: none;
  resize: none;
  width: 100%;
}

#feModal .footer .btn:not(:first-child),
#nfeModal .footer .btn:not(:first-child) {
  margin-left: 6px;
}

#feModal .contentt,
#nfeModal .contentt {
  background: #282a3a;
}

.editModalBg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 4;
}

.editModalBg .btn-teritary {
  box-shadow: none !important;
}

.editModalBg .sub-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 85%;
  margin: auto;
}

#feModalLabel {
  font-weight: 500;
}

#bdf .card {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  margin: auto;
  width: max-content;
  height: max-content;
}

#bdf {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

/* Custom select checkbox */
.kbk-checkbox+label::before {
  width: 1.5em;
  height: 1.5em;
  margin-top: 8px;
}

#fm-table input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.multiply-select {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
}

.multiply-select .btn-danger {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}