.tr-placeholder {
  animation: brightpulse 1s infinite;
}

@keyframes brightpulse {
	0% {
		filter: brightness(100%);
	}

	50% {
		filter: brightness(130%);
	}

  100% {
		filter: brightness(100%);
	}
}