.container-welcome {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 25%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.kubekLogoText {
  font-size: 24pt;
  font-weight: 700;
}

.btn-primary {
  height: 48px;
}