.settings-item {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 64px 1fr auto; 
  grid-template-rows: 1fr; 
  gap: 0.2em 2em; 
  grid-template-areas: 
    "icon caption element"; 
  justify-content: center; 
  justify-items: center; 
  align-items: center; 
  width: 100%;
  height: max-content;
  padding: 24px 20px;
}

.window .settings-item:not(:last-child){
  border-bottom: 1px solid var(--mdb-gray-300);
}

.settings-item .icon {
  grid-area: icon;
}

.settings-item .icon .material-icons {
  font-size: 24pt;
}

.settings-item .caption {
  justify-self: start;
  grid-area: caption;
  font-size: 14pt;
  font-weight: 700;
  color: black;
}

.settings-item .element {
  grid-area: element;
  justify-self: end;
}

/* Slider*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--mdb-primary);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--mdb-primary);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.window {
  width: 100%;
  height: max-content;
  border-radius: 24px;
  background: rgb(250,250,250);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}