.win-fullscreen {
  width: 100%;
  height: 35rem;
  overflow: auto;
  background: white;
  border: 1px solid var(--mdb-gray-300);
}

.win-fullscreen .list-group-item {
  padding: 12px 24px;
  cursor: pointer;
  border-left: none;
  border-right: none;
}

.win-fullscreen .list-group-item:first-child {
  border-top: none;
}

.win-fullscreen .list-group-item:hover {
  background: var(--mdb-gray-100);
}