.delete-layout {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 128px max-content min-content min-content;
  grid-auto-columns: 1fr;
  gap: 2em 1em;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "sicon"
    "sname"
    "sinput"
    "sbutton";
  width: max-content;
  height: max-content;
}

.sicon {
  grid-area: sicon;
}

.sname {
  grid-area: sname;
}

.sinput {
  grid-area: sinput;
}

.sbutton {
  grid-area: sbutton;
}