@font-face {
  font-family: "Minecraft Rus";
  src: url("/fonts/mcf.ttf");
}

* {
  font-family: "Inter", sans-serif;
}

*:not(.tooltip):not(.modal-console-props) {
  transition: 0.3s !important;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

i {
  font-weight: 100 !important;
}

.glassmorphed {
  border-radius: 16px;
  border: 1px solid rgba(225, 225, 225, 0.1);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
}

button.glassmorphed {
  border-radius: 8px;
}

html.dark .glassmorphed {
  background: rgba(75, 75, 75, 0.3) !important;
}

.drawer-backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500%;
  height: 500%;
  z-index: 8;
  background: rgba(10, 10, 10, 0.4);
  backdrop-filter: blur(4px);
}

#topbar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
}

table * {
  border: none !important;
}

/* Custom modal windows */
/* Modal notify */
.modal-black-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.modal-black-bg .modal-layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: min-content;
  min-width: 25%;
  height: max-content;
  border-radius: 16px;
  margin: auto;
  z-index: 8;
  padding: 24px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  grid-auto-columns: 1fr;
  gap: 24px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "icon"
    "content";
}

.modal-layout .modal-icon {
  justify-self: center;
  align-self: center;
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-layout .modal-contentt {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-black-bg .modal-layout .caption {
  font-size: 16pt;
  font-weight: 600;
}

/* Toasts styling */
#toasts-list {
  position: absolute;
  height: max-content;
  width: max-content;
  overflow: hidden;
  z-index: 51;
}

#toasts-list.left-top {
  top: 32px;
  left: 32px;
}

#toasts-list.right-top {
  top: 32px;
  right: 32px;
}

#toasts-list.left-bottom {
  bottom: 32px;
  left: 32px;
}

#toasts-list.right-bottom {
  bottom: 32px;
  right: 32px;
}