@media (max-width: 1700px) {
  #menu-tabs-list {
    display: none !important;
  }

  .glassmorphed {
    backdrop-filter: blur(0px) !important;
    background: rgba(255, 255, 255, 0.5) !important;
  }

  html.dark .glassmorphed {
    background: rgba(75, 75, 75, 0.5) !important;
  }

  .drawer-backdrop {
    backdrop-filter: blur(0px) !important;
  }

  #mobile-nav-button {
    display: block;
  }

  #tabs-menu-bg {
    padding: 6px 16px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  body,
  html {
    overflow: hidden !important;
  }

  p.text-3xl.font-bold,
  h1.text-3xl.font-bold {
    font-size: 16pt;
  }

  .hide-on-mobile {
    display: none !important;
  }

  #new-server-wizard-drawer,
  #drawer-toasts-list {
    width: 100vw !important;
    height: 100vh !important;
  }

  .modal-black-bg .modal-layout {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .console-container .main-console-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    gap: 1em 0px !important;
    grid-template-areas:
      "main-console"
      "additional-blocks" !important;
  }

  .blurry-bg-img {
    aspect-ratio: 16 / 9;
    transform: scale(1.1);
    height: 100vh;
    width: 100vw;
  }

  #content-place {
    width: 95% !important;
    height: 95% !important;
  }

  #tabs-menu-bg {
    background: transparent !important;
    margin-top: 8px;
  }

  #toasts-list {
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
  }

  #toasts-list {
    top: 32px !important;
    bottom: initial !important;
    left: 16px !important;
    right: initial !important;
  }

  #toasts-list .animate__animated {
    max-width: initial !important;
  }

  #blurry-bg-img {
    filter: brightness(40%) saturate(112%) !important;
    transform: scale(1) !important;
  }

  .backups-container #backups-list tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backups-container #backups-list th {
    padding: 12px !important;
  }

  .ksettings-container tr.glassmorphed,
  .ssettings-container tr.glassmorphed {
     width: 95vw;
     max-width: 95vw;
     display: block;
     border-radius: 0 !important;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }

  .ksettings-container tr * {
    word-wrap: break-word;
    word-break: break-all;
  }

  #console-settings-block {
    margin-bottom: 96px;
  }

  .drawer-backdrop {
    display: none !important;
  }
}