* {
  transition: .14s;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(11, 15, 16);
  color: white;
  font-family: 'Inter', sans-serif, 'Segoe UI';
}

.mainLayout {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu layout";
  width: 100%;
  height: 100%;
}

.menu {
  grid-area: menu;
  background: rgb(25, 32, 36);
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  align-items: center;
}

.menu .fc {
  flex: 0 1 auto;
}

.menu .fc:nth-child(1) {
  flex: 1 1 auto;
  height: 100%;
}

.menu .fc:not(:nth-child(1)) {
  margin-top: 8px;
}

.nav.flex-column:hover {
  background: transparent !important;
}

.layout {
  grid-area: layout;
  display: flex;
  flex-flow: column nowrap;
}

.layout .block {
  padding: 16px;
  flex: 0 1 auto;
}

.layout .block:nth-child(3) {
  flex: 1 1 auto;
}

.layout .header {
  background: rgb(25, 32, 36);
}

.layout .tabs {
  background: rgb(25, 32, 36);
  padding: 0 16px;
}

.layout .main {
  background: rgb(11, 15, 16);
}

.layout .header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.layout .header .item {
  margin: 0px;
  padding: 5px;
  flex: 0 1 auto;
}

.layout .header .item:nth-child(2) {
  flex: 1 1 auto;
  margin: 0px 16px;
}

.btn {
  color: white;
}

.lay2 {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: min-content;
}

.lay2 .blck {
  flex: 0 1 auto;
}

.lay2 .tabs {
  width: 100%;
  background: rgb(25, 32, 36);
  height: 56px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.lay2 .tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  flex: 0 1 auto;
  text-align: center;
  cursor: pointer;
  color: rgb(140, 140, 140);
}

.lay2 .tabs .selected {
  padding-top: 5px;
  border-bottom: 5px solid #0067f4;
  color: white;
}

.lay2 .tabs .tab:hover {
  background: rgb(43, 53, 63);
}

.main .window {
  display: flex;
  flex-flow: column nowrap;
  height: max-content;
  width: max-content;
  padding: 10px;
  border-radius: 6px;
  background: rgb(25, 32, 36);
}

.main .window .blck {
  flex: 0 1 auto;
  padding: 11px 8px;
}

.main .window .blck:nth-child(1) {
  border-bottom: 1px solid rgb(43, 53, 63);
  font-size: 14pt;
  font-weight: 500;
}

.main .window .blck .table {
  outline: none;
  border: 0;
}

.main .window .blck table .lc {
  color: rgb(140, 140, 140);
  font-weight: 500;
  padding: 0 32px 0 0;
}

.main .window .blck table .r {
  padding: 6px 32px 6px 0;
}

.consoleWindow input {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  background: transparent;
  color: rgb(240, 240, 240);
}

.ggg {
  display: flex;
}

.ggg-box {
  margin: 5px;
  padding: 5px;
  flex: 0 1 auto;
}

.lay2 .gcont {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas:
    "g-caption g-caption g-caption g-caption"
    "g-srvaddr g-srvplayers g-srvcore g-srvstatus";
  width: max-content;
  height: max-content;
}

.lay2 .gcont .g-caption {
  grid-area: g-caption;
}

.lay2 .gcont .g-srvaddr {
  grid-area: g-srvaddr;
}

.lay2 .gcont .g-srvplayers {
  grid-area: g-srvplayers;
}

.lay2 .gcont .g-srvcore {
  grid-area: g-srvcore;
}

.lay2 .gcont .g-srvstatus {
  grid-area: g-srvstatus;
}

.seamlessCont {
  display: flex;
  align-items: center;
  align-content: center;
  height: max-content;
  width: max-content;
}

.seamlessCont .seamlessBox {
  margin: 5px;
  flex: 0 1 auto;
  align-self: center;
}

.seamlessCont .seamlessBox:nth-child(2) {
  flex: 1 1 auto;
}

.hdr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas:
    "hdr-left hdr-right";
  width: 100%;
  height: 100%;
}

.hdr-left {
  justify-self: start;
  align-self: center;
  grid-area: hdr-left;
}

.hdr-right {
  justify-self: end;
  align-self: center;
  grid-area: hdr-right;
}

progress[value] {
  outline: none;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  height: 6px;
  border-radius: 12px;
}

progress::-moz-progress-bar {
  background: #0067f4;
  border-radius: 12px;
}

progress {
  border-radius: 12px;
}

.loadBg {
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loadText {
  font-family: "Poppins" !important;
  font-size: 100pt;
  font-weight: 700;
  width: min-content;
  height: min-content;
  color: white;
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

.ntc {
  display: flex;
  flex-flow: column nowrap;
  height: max-content;
}

.ntb {
  flex: 0 1 auto;
}

.ntb:nth-child(1) {
  flex: 1 1 auto;
  padding: 12px;
}

.ntb:nth-child(2) {
  flex: 1 1 auto;
  padding: 0;
}

.pnf[value] {
  outline: none;
  width: 100%;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: transparent;
}

.pnf::-moz-progress-bar {
  background: #0067f4;
}

.ntc-pool {
  display: flex;
  width: 17%;
  flex-flow: column nowrap;

  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 800;
}

.ntc-poolbox {
  margin: 5px;
  flex: 0 1 auto;
}

.pbara {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "pbar caption"
    "pbar value";
  width: max-content;
  height: max-content;
}

.pbar {
  grid-area: pbar;
}

.caption {
  grid-area: caption;
  font-weight: 600;
}

.value {
  grid-area: value;
  font-weight: 200;
}

.pbara {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 16px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "cBar cCapt"
    "cBar cValue"
    "mBar mCapt"
    "mBar mValue";
  width: 100%;
  height: max-content;
}

.cBar {
  grid-area: cBar;
}

.mBar {
  grid-area: mBar;
}

.cCapt {
  grid-area: cCapt;
  font-weight: 600;
}

.cValue {
  grid-area: cValue;
  font-weight: 200;
}

.mCapt {
  grid-area: mCapt;
  font-weight: 600;
}

.mValue {
  grid-area: mValue;
  font-weight: 200;
}