.layout {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 64px 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navigation controls"
    "navigation page";
  width: 100%;
  height: 100%;
}

.layout .navigation {
  justify-self: center;
  align-self: center;
  grid-area: navigation;
  background: var(--mdb-gray-100);
  width: 100%;
  height: 100%;
}

.layout .page {
  justify-self: center;
  align-self: center;
  grid-area: page;
  width: 100%;
  height: 100%;
  padding: 32px;
}

.layout .controls {
  justify-self: center;
  align-self: center;
  grid-area: controls;
  background: var(--mdb-gray-100);
  width: 100%;
  height: 100%;
  padding: 4px 20px;
}

.layout .controls {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "status buttons";
  width: 100%;
  height: 100%;
}

.layout .controls .buttons {
  grid-area: buttons;
}

.layout .controls .status {
  grid-area: status;
}

.layout .controls .status .badge {
  padding: 6px 10px;
  margin-top: 6px;
  font-size: 0.9rem;
}

.navigation #kubek-version {
  font-weight: 500;
  font-size: 12pt;
}

.navigation #server-selector,
.navigation #nav-menu {
  margin-top: 8px;
}

.navigation #server-selector button {
  background: var(--mdb-gray-300);
  box-shadow: none;
  text-align: left;
  font-size: 0.9rem;
  border-radius: var(--bradius-small);
}

.navigation #nav-menu .list-group-item {
  background: transparent;
  border: none;
  color: var(--mdb-gray-700);
  padding: 0.8rem 1rem;
  border-radius: var(--bradius-small);
}

.navigation #nav-menu .list-group-item.item:not(.active) {
  cursor: pointer;
}

.navigation #nav-menu .list-group-item.item .material-icons {
  color: var(--mdb-gray-700);
}

.navigation #nav-menu .list-group-item.item div:nth-child(2) {
  margin-left: 12px;
}

.navigation #nav-menu .list-group-item.item.active {
  background: rgba(13, 110, 253, 0.10);
  color: var(--mdb-primary);
}

.navigation #nav-menu .list-group-item.item.active .material-icons {
  color: var(--mdb-primary);
}

.navigation #nav-menu .list-group-item.subheader {
  padding: 0.6rem 0.2rem;
  color: var(--mdb-gray-500);
  text-transform: uppercase;
  border-bottom: 1px solid var(--mdb-gray-500);
  border-radius: 0;
  margin-bottom: 6px;
}

#loading-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0,0,0,0.3);
  backdrop-filter: blur(3px);
  z-index: 1000;
}


.ntc-pool {
  display: flex;
  width: 17%;
  flex-flow: column nowrap;

  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 800;
}

.ntc-poolbox {
  margin: 5px;
  flex: 0 1 auto;
}

.ntc {
  display: flex;
  flex-flow: column nowrap;
  height: max-content;
}

.ntb {
  flex: 0 1 auto;
}

.ntb:nth-child(1) {
  flex: 1 1 auto;
  padding: 12px;
}

.ntb:nth-child(2) {
  flex: 1 1 auto;
  padding: 0;
}

.pnf[value] {
  outline: none;
  width: 100%;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: transparent;
}

.pnf::-moz-progress-bar {
  background: #0067f4;
}